@model CrazyCarRental.Models.Booking

@{
    ViewData["Title"] = "Booking Confirmation";
}

<h1>Booking Confirmation</h1>

<p>Thank you for booking</p>

<div>
    <p><strong>Car: </strong> @Model.Car.Make  @Model.Car.Model</p>
    <p><strong>Start date: </strong>@Model.StartDate.ToShortDateString()</p>
    <p><strong>End date:</strong>@Model.EndDate.ToShortDateString()</p>
    <p><strong>Total price:</strong>$@Model.TotalPrice</p>
    <div>
         
            @await Html.PartialAsync("_CarCard",Model.Car)       
    </div>
</div>