@model IEnumerable<CrazyCarRental.Models.Booking>

@{
    ViewData["Title"] = "Booking  history";
}

<h1>You booking history</h1>

if (!Model.Any())
{
    <p>You have no past bookings</p>
}

else 
{
    <div class="booking-history">
        @foreach(var booking in Model)
        {
          <div class="booking-entry">
          <h2>Booking details</h2>  
          <p><strong>Start date: </strong> @booking.StartDate.ToShortDateString()</p>
          <p><strong>End date: </strong> @booking.EndDate.ToShortDateString()</p>
          <p><strong>Total price:</strong> $@booking.TotalPrice</p>

          @await Html.PartialAsync("_CarCard",booking.Car);
        }
</div>
}

